.Color-Slidebar{
    background-color: #01142D !important;
    background-image: none;
}

.img-news{
    width: 14%;
    margin-right: 20px;
}

.size-text{
    font-size: 20px;
}

#programa{
  width: 70px;
  height: 70px;
  text-align: center;  
}